:root {
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);

    --Transparent_white: hsla(0, 0%, 100%, 0.75);
    --Very_light_gray: hsl(0, 0%, 95%);

    --Lexend_400: font-family: 'Lexend Deca', sans-serif;
    --Big_Shoulder_700: font-family: 'Big Shoulders Display', cursive;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE */

@media screen and (max-width: 899px) {

    .container {
        margin: 2rem 2rem;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-left: 3rem;
        padding-right: 1.7rem;
    }

    .card_container img {
        max-width: 25%;
        object-fit: cover;
    }

    /* GLOBALS */

    .card_title {
        font-family: 'Big Shoulders Display', cursive;
        color: var(--Very_light_gray);
        height: .7rem;
        margin-top: 1.8rem;
        font-size: 2.2rem;
        text-transform: uppercase;
    }

    .card_info p {
        font-family: 'Lexend Deca', sans-serif;
        color: var(--Transparent_white);
        line-height: 1.5;
        opacity: .9;
    }

    .card_button {
        font-family: 'Lexend Deca', sans-serif;
        width: 50%;
        margin-top: .7rem;
        padding: .7rem 0rem;
        border: none;
        border-radius: 50px;
    }

    /* SEDANS CARD */

    .sedans_card_container {
        background: var(--Bright_orange);
        border-radius: 10px 10px 0px 0px;
    }

    .card_button_sedans {
        color: var(--Bright_orange);
    }

    /* SUVS CARD */

    .suvs_card_container {
        background: var(--Dark_cyan);
    }

    .card_button_suvs {
        color: var(--Dark_cyan);
    }

    /* LUXURY CARD */

    .luxury_card_container {
        background: var(--Very_dark_cyan);
        border-radius: 0px 0px 10px 10px;
    }

    .card_button_luxury {
        color: var(--Very_dark_cyan);
    }


    footer {
        font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 1rem;
        font-size: .8rem;
        text-align: center;
    }

    footer a {
        color: rgb(255, 166, 0);
        text-decoration: none;
    }
}

/* PC */

@media screen and (min-width: 900px) {

    .container {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-column: auto;
        margin: 2rem 2rem;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-left: 3rem;
        padding-right: 2.9rem;
    }

    .card_container img {
        margin-top: 1rem;
        max-width: 25%;
        object-fit: cover;
    }

    /* GLOBALS */

    .card_title {
        font-family: 'Big Shoulders Display', cursive;
        color: var(--Very_light_gray);
        height: 1.4rem;
        margin-top: 1.8rem;
        font-size: 2.2rem;
        text-transform: uppercase;
    }

    .card_info p {
        font-family: 'Lexend Deca', sans-serif;
        color: var(--Transparent_white);
        margin-top: 1.5rem;
        line-height: 1.7;
        opacity: .9;
    }

    .card_button {
        font-family: 'Lexend Deca', sans-serif;
        width: 60%;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
        padding: .7rem 0rem;
        border: 1px solid white;
        border-radius: 50px;
        transition: all .3s ease;
    }

    .card_button:hover {
        cursor: pointer;
        color: white;
        background: transparent;
    }

    /* SEDANS CARD */

    .sedans_card_container {
        background: var(--Bright_orange);
        border-radius: 10px 0px 0px 10px;
    }

    .card_button_sedans {
        color: var(--Bright_orange);
    }

    /* SUVS CARD */

    .suvs_card_container {
        background: var(--Dark_cyan);
        padding-left: 2.5rem;
        padding-right: 2.3rem;
    }

    .card_button_suvs {
        color: var(--Dark_cyan);
    }

    /* LUXURY CARD */

    .luxury_card_container {
        background: var(--Very_dark_cyan);
        border-radius: 0px 10px 10px 0px;
        padding-left: 2.5rem;
        padding-right: 2.3rem;
    }

    .card_button_luxury {
        color: var(--Very_dark_cyan);
    }


    footer {
        font-family: 'Lexend Deca', sans-serif;
        margin-top: 5rem;
        font-size: .9rem;
        text-align: center;
    }

    footer a {
        color: rgb(255, 166, 0);
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }
}
